<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Transport - Home</title>
    <link rel="stylesheet" href="/css/commonStyles.css" />
  </head>
  <body>
    <h1>Welcome to the Bus Transport System</h1>
    <p>Manage your bus information efficiently.</p>

    <div class="button-container">
      <a href="/add-data">Go to Form Input Page</a>
    </div>
    <div class="button-container">
      <a href="/show-table-data">Go to Show Table Data Page</a>
    </div>
  </body>
</html>
